body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 50%;
    width: 50%;
    border: 1px solid;
}

.body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.scene {
    height: 0;
    width: 0;
}

.node {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: red;
    touch-action: none;
}